div(id='stage')
div(class='toolSet', id='toolSet')
  select(id='target', class='selector')
    option(value='stage', selected='selected') stage
    option(id='targeting', value='target') [target]
  select(id='relationship', class='selector')
    option(value='append') append
    option(value='prepend') prepend
    option(value='wrap') wrap
  for x in elemenos
    button(type='button', class='selector createHTMLelem', data-event='click', data-type=x)
      = x
  input(type='file', id='mediaElemSrc', class='selector')
input(type="range", class='ranger', min="-100", max="200", value="40", onchange="", id="oy")
