canvas(id='canvas', resize, style='background:-webkit-radial-gradient(50% 50%, rgba(248,249,243,0.75), rgba(93,93,93,0.60))')
ul(id='options')
  li
    a(href='javascript:omg.gg.draw.init.apply(omg.gg)') Draw
  li
    a(href='javascript:omg.gg.shapes.line.apply(omg.gg)') Line
  li
    a(href='javascript:omg.gg.shapes.arc.apply(omg.gg)') Arc
  li
    a(href='javascript:omg.gg.shapes.polygon.apply(omg.gg)') Polygon
  li
    a(href='javascript:omg.gg.shapes.circle.apply(omg.gg)') Circle
  li
    a(href='javascript:omg.gg.shapes.star.apply(omg.gg)') Starburst
  li
    a(href='javascript:omg.gg.shapes.burst.apply(omg.gg)') Burble
  li
    a(href='javascript:omg.gg.txt.init.apply(omg.gg)') Text
  li
    a(href='javascript:omg.gg.colorPicker.init.apply(omg.gg)') Palette
  li
    a(href='javascript:omg.gg.xyRangeFinder.apply(omg.gg)') XY Range