body {
    width:100%;
		font-size:62.5%;
		margin: 0 auto;
		overflow-x:hidden;
		overflow-y:auto;
		background-image: white
}

h1, h2, h3, h4, a {text-decoration:none}

h1 { font-size:2.5em}
h2 {font-size:2em}
h3 {font-size:1.5em}
h4 {font-size:1.2em}
p {
	font-size: 1.6rem;
	font-family: Georgia;
	line-height:120%;
}

li{
	font-family: helvetica;
	font-size: 1.5em;
	font-weight:300;
}
a, a:visited {
	color:blue;
}
a:hover {
	transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	transition: 1s;
}

.navi {
	position:absolute;
	top:5px;
	height: 60px;
	width:67px;
	right: 5px;
	background-image: url(noun_project_2836.svg);
	background-size: 40px 40px ;
	background-repeat: no-repeat;
	background-color:white;
	background-position:14px 9px;
	border:3px double black;
	transform-origin:center;
	transition-timing-function: cubic-bezier(0.000, 1.650, 0.980, 1.220);
	transition: all 300ms;
	cursor:pointer;
	animation-iteration-count: 1;
	animation-fill-mode: backwards;
	z-index:2;
}

.navi > * {
	visibility:hidden;
	transition-timing-function: cubic-bezier(0.000, 1.650, 0.980, 1.220);
	transition: opacity 1s;
	opacity:0;
}

.navi:hover, .navi:focus {
	background-color:white;
	background-image:none;
	right:5px;
	width:250px;
	height:350px;
	outline:0;

}
.navi:hover > *, .navi:focus > * {
	width: 230px;
	visibility:visible;
	opacity: 1;
}
.swing {
	transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	transition: 500ms;
	transform-style: preserve-3d;
	transform-origin: right;
	transform:perspective(2000px) rotateY(-15deg) translate3d(0px, 0px, 0px);
	z-index:99;
}
.nav:hover{
	z-index:99;
	transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	transition: 500ms;
	transform: perspective(2000px) rotateY(0deg) translate3d(0px, 0px, 0px);
}

.nav {
	margin-left:11px;
}

.nav li {
		padding-bottom:1ex;
		border-bottom: 1px dotted black;
		margin: 2ex 0;
    width:100%;
    display:block;
}

.nav li:nth-last-child(1) {
	border: none;
}

.profile {
    margin: 0 auto;
 		transform-style: preserve-3d;
		transform-origin: 50% 1000px;
		perspective: 2000px;
		z-index:-1;	
}

.profile > div {
	position:absolute;
	transform-origin: 50% 1000px;
	perspective: 2000px;
	width:100%;
}

.slide {
	position: absolute;
	margin:0 0;
	top: 0;
	z-index:1;
}

.content {
	position:relative;
	margin: 31px auto 0;
	min-width:320px;
	max-width:650px;
 	padding:0 11px;
	height:1500px;
	border:3px solid black;
}

.tech, .ilist {
	padding:5px;
	text-align:right;
}
.front {
}
.ilist li:hover:before, .tech li:hover:before{
	content: '→ ';
}
.back {
}
.os li {
	font-size: 1.5em;
	margin: 1ex 0;
}

.os li p {
	margin-left: 25%;
}

textarea {
    width:100%;
    height: 320px;
    font-size: 150%;
}
