body {
		position:relative;
    width:650px;
		font-size:62.5%;
		margin: 0 auto;
		overflow-x:hidden;
		overflow-y:auto;
		background-color: #000;
		font-family: 'Times New roman';
}
body > * {
	background-color:#fff;
}

h1, h2, h3, h4, a {text-decoration:none;font-style:italic;text-align:left}

h1 { 
	width:100%;
	color:rgba(255,255,255,.9);
	background-color:#000;
	font-size:2rem;
	line-height:2.7rem;
        padding-left:1ex;
}
h2 {padding-left:1ex;font-size:1.75rem;line-height:2rem;
}
h3 {font-size:1.5rem}
h4 {font-size:1.2rem}
p {
	padding:0 2ex 0 3ex;
	font-size: 16px;
	font-size: 1.1rem;
        font-family: 'Times New roman';
	line-height:2rem;
}
.deets {
	font-size:1.5rem;
	padding: 0 3ex;
}
.gray {
	font-style:italic;
	color: rgba(1,100,200,.35);
}
.gray:hover {
	color: rgba(1,100,200,.8);
}
li, li a{
	font-size: 1.1rem;
	line-height:1.6rem;
	font-weight:100;
}
a, a:visited {
	color:rgba(33,33,33,.9);
}
a:hover {
}

.strings {
	width:720px;
	height:650px;
	position:fixed;
	border-top:10px solid #000;

}
.bar {
	position:fixed;
	top:0;
	width:720px;
	height:10px;
	background:#000;
	z-index:11;
}
.multi {
}

.bust {
	position:absolute;
	right:0px;
	top:400px;
	border:7px solid #fff;
	width:263px;
	overflow:hidden;
	background:#fff;
}

.bust > img {
	width:100%;
	border-radius:10px;
}

.bust > .hidden {
	display:none;
}

.bust:hover > .hidden {
	display:block;
}

.bust:hover > .showen {
	display:none;
}

.navi {
	float:right;
	width:276px;
	height:450px;
	background-color:transparent;
	background-color:white;
	background-position:222px 9px;
	transform-origin:center;
	transition: all 300ms cubic-bezier(0.700, 0.510, 0.095, 1.080);
	cursor:pointer;
	animation-iteration-count: 1;
	z-index:7;
}

.navi > .nav li {
	opacity:1;
	transition: opacity 300ms cubic-bezier(0.700, 0.510, 0.095, 1.080);
	animation-iteration-count: 1;
}

.navi > .nav li > a {
	transition: all 300ms cubic-bezier(0.700, 0.510, 0.095, 1.080);
	animation-iteration-count: 1;
}

.navi:hover {
	outline:0;
	background-image:none;
}

.navi:hover > .nav li, .navi:focus > .nav li {
	opacity:1;
}

.nav:hover{
}

.nav {
	padding-top:20px;
	margin-left:11px;
}

.nav li {
		padding-bottom:1ex;
		margin: 0;
    width:100%;
    display:block;
}

.nav li:nth-last-child(1) {
	border: none;
}

.nav li.selected {
	opacity:1;	
}

.nav li.selected > a{

	color:rgba(0,0,0,1);
        text-shadow: 0 0 3px rgba(20, 30, 205, .9) 
}

.nav li.selected > a:after{
	content : ' :^) '
}
.profile {
		position:relative;
    margin: 0;
 		transform-style: preserve-3d;
		transform-origin: 50% 1000px;
		perspective: 2000px;
		z-index:8;
		max-width:444px;
}

.profile > div {
}

.slide {
	position: relative;
	margin:0;
	padding:0;
	min-height:750px;
	z-index:8;
  background:transparent;	
}

.slide.selected {
}

.content {
	position:relative;
	min-width:320px;
	max-width:444px;
 	padding:31px 11px 0 0;
}

.os, .ilist {
	margin-left:3ex;
	padding-left:3ex;
	border-left:1px solid #000;
	text-align:left;
	border-radius:9px;
}

.ilist li:hover:after{

}
.back {
}
.os li {
	font-size: 1.1rem;
	margin: 1ex 1ex;
}

.os li p {
	margin-left: 25%;
}

.textbox {
    width:90%;
    height: 210px;
    font-size: 1.8rem;
		margin: 0 5%;
		border:1px solid green;
		overflow-y:auto;
		overflow-x:hidden;
}

.textbox:focus {
	outline: none;
	box-shadow:0 0 9px #000;
}

button {
	width:90%;
  font-size: 1.8rem;
	margin: 10px 5%;
}

.fact {
	background: #eee;
	color:#000;
	padding: 0 1ex;
}
a.fact {
    color: rgba(20, 30, 205, .8)
    }

@media all and (max-width: 720px) {
	
	.strings {
		width:100%;
		height:100%;
		clear:both;
		position:relative;
		display:block;
	}
	.profile {
	}
	.navi {
		padding:0;
		margin:0;
		position:relative;
		width:100%;
		background-color:transparent;
		background-image: url(noun_project_2836.svg);
		background-size: 40px 40px ;
		background-repeat: no-repeat;
		background-position:222px 9px;
		cursor:pointer;
		z-index:10;
	}
	.nav li {
			padding-bottom:1ex;
			margin: 0;
	    display:block;
	}
	
	.navi:hover {

	}

	.navi:hover > .nav li, .navi:focus > .nav li {
	}
	
	
}