body {
    width:450px;
		font-size:62.5%;
		margin: 0 auto;
		overflow-y:auto;
		overflow-x:hidden;
		background-image: -webkit-radial-gradient(white 20%, green)
}

h1, h2, h3, h4, a {text-decoration:none}

h1 { font-size:2.5em}
h2 {font-size:2em}
h3 {font-size:1.5em}
h4 {font-size:1.2em}
p {
	font-size: 1.6em;
	font-family: Georgia;
	line-height:120%;
}

li{
	font-family: helvetica;
	font-size: 1.5em;
	font-weight:300;
}
a, a:visited {
	color:blue;
}
a:hover {
	transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	transition: 1s;
}
.nav {
	opacity:0;
margin-left:11px;
}
.navi {
	position:fixed;
	top:-3px;
	height: 60px;
	width:67px;
	right: -73px;
	background-image: url(noun_project_2836.svg);
	background-size: 40px 40px ;
	background-repeat: no-repeat;
	background-color:white;
	background-position:14px 9px;
	border:3px double black;
	border-left:none;
	transform-origin:center;
	transition-timing-function: cubic-bezier(0.000, 1.650, 0.980, 1.220);
	transition: all 300ms;
	cursor:pointer;
	animation-iteration-count: 1;
	animation-fill-mode: backwards;
}

.navi > * {
	visibility:hidden;
	transition-timing-function: cubic-bezier(0.000, 1.650, 0.980, 1.220);
	transition: opacity 1s;
	opacity:0;
}

.navi:hover {
	background-color:white;
	background-image:none;
	right:-256px;
	width:250px;
	height:380px;
}
.navi:hover > * {
	width: 230px;
	visibility:visible;
	opacity: 1;
}
.swing {
	transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	transition: 500ms;
	transform-style: preserve-3d;
	transform-origin: right;
	transform:perspective(2000px) rotateY(-15deg) translate3d(0px, 0px, 0px);
	z-index:99;
}
.nav:hover{
	z-index:99;
	transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	transition: 500ms;
	transform: perspective(2000px) rotateY(0deg) translate3d(0px, 0px, 0px);
}
.nav li {
		padding-bottom:1ex;
		border-bottom: 3px dotted black;
		margin: 2ex 0;
    width:100%;
    display:block;
}

.profile, .profile > div {
    margin: 0 auto;
    width: 450px;
 		transform-style: preserve-3d;
		transform-origin: 50% 1000px;
		perspective: 2000px;
		z-index:-1;
		position:absolute;
}

.profile {
	min-height:100%;
}

.profile > div {
	height:1500px;
}


.spin {
	transform-origin: 50% 1000px;
	animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);  
	animation: spin 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards
}

@keyframes spin {
	from {
		transform: scale(1) rotateZ(0) perspective(2000px);
	}
	to {
		transform: scale(.8) rotateZ(360deg) perspective(2000px);
	}
}

.slide {
	position: absolute;
	margin:0 0 30px 0;
	top: 21px;
	z-index:1;
}

.slide > p {
 padding: 1ex 2ex;
font-size: 1.6rem;	
}

.tech, .ilist {
	padding:5px;
	text-align:right;
}
.front {
}
.ilist li:hover:before, .tech li:hover:before{
	content: '→ ';
}
.back {
}
.os li {
	font-size: 1.5em;
	margin: 1ex 0;
}

.os li p {
	margin-left: 25%;
}

textarea {
    width:100%;
    height: 320px;
    font-size: 150%;
}
