@media all and (min-width: 1001px) {
	.boing {
		transform-origin: 50% 1000px;
		transform-style: preserve-3d flat;
		animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);  
		animation: boing 3s;
		perspective: 2000px;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
		z-index:-1;
	}

	.boing ~ * {
		z-index:9;
	}

	@keyframes boing{	
		0% {
			transform-style: preserve-3d;
			transform: perspective(2000px) rotateZ(0deg) translate3d(0,0,0) scale(1) ;
		}
		25% {
			transform-origin: 50% 500px;
			transform-style: preserve-3d;
			transform: perspective(2000px) rotateZ(0deg) translate3d(0,-250px,-2000px) scale(.5);
		}
		80% {
			transform-style: preserve-3d;
			transform-origin: 50% 500px;
			transform: perspective(2000px) rotateZ(-360deg) translate3d(0,-250px,-2000px) scale(.5);
		}
		100% {
			transform-style: preserve-3d;
			transform: perspective(2000px) rotateZ(-360deg) translate3d(0,0,0) scale(1);
		}
	}	
}




.profile > div.selected {
	opacity: 1;
	z-index:2;
	background-image:linear-gradient(top, rgba(255,255,255,1) 40%, rgba(255,255,255,.1));
/*	background-image: -webkit-linear-gradient(top, rgba(0,0,0,1),  rgba(255,255,255,0) 2%, rgba(255,255,255,0) 98%, rgba(0,0,0,.5)), 
										-webkit-linear-gradient(left, rgba(0,0,0,1),  rgba(255,255,255,0) 5%, rgba(255,255,255,0) 95%, rgba(0,0,0,.5));
*/
	border-radius: 7px;
	border-top-right-radius:0;
}

.profile > div:not(.selected) {
	opacity: 1;
	z-index:-1;
}


.profile > div:not(.selected) > * > *{
	visibility:hidden;
}
.profile > div:not(.selected):hover > * {
	cursor:pointer;
}

.profile > div {
}

.profile:nth-child(1) {
	transform-style: preserve-3d;
	transform: perspective(2000px) rotateZ(0deg)
}
.profile > .slide:nth-child(2) {
	transform-style: preserve-3d;
	transform: perspective(2000px) rotateZ(40deg)
}
.profile > .slide:nth-child(3) {
	transform-style: preserve-3d;
	transform: perspective(2000px) rotateZ(80deg)
}
.profile > .slide:nth-child(4) {
	transform-style: preserve-3d;
	transform: perspective(2000px) rotateZ(120deg)
}
.profile > .slide:nth-child(5) {
	transform-style: preserve-3d;
	transform: perspective(2000px) rotateZ(160deg)
}
.profile > .slide:nth-child(6) {
	transform-style: preserve-3d;
	transform: perspective(2000px) rotateZ(200deg)
}
.profile > .slide:nth-child(7) {
	transform-style: preserve-3d;
	transform: perspective(2000px) rotateZ(240deg)
}
.profile > .slide:nth-child(8) {
	transform-style: preserve-3d;
	transform: perspective(2000px) rotateZ(280deg)
}
.profile > .slide:nth-child(9) {
	transform-style: preserve-3d;
	transform: perspective(2000px) rotateZ(320deg)
}
