
.boing ~ * {
}


.profile > div.selected {
  opacity: 1;
  z-index: 2;
  background-image: linear-gradient(top, #fff 40%, rgba(255,255,255,0.1));
/*	background-image: -webkit-linear-gradient(top, rgba(0,0,0,1),  rgba(255,255,255,0) 2%, rgba(255,255,255,0) 98%, rgba(0,0,0,.5)), 
										-webkit-linear-gradient(left, rgba(0,0,0,1),  rgba(255,255,255,0) 5%, rgba(255,255,255,0) 95%, rgba(0,0,0,.5));
*/
  border-radius: 7px;
  border-top-right-radius: 0;
}
.profile > div:not(.selected) {
  opacity: 1;
  z-index: -1;
display:none;
}
.profile > div:not(.selected) > * > * {
  opacity: .2;
}
.profile > div:not(.selected):hover > * {
  cursor: pointer;
}
.profile:nth-child(1) {
  transform-style: preserve-3d;
  transform: translate3d(0,0,1000px) perspective(2000px) rotateZ(0deg);
}
.profile > .slide:nth-child(2) {
  transform-style: preserve-3d;
  transform: translate3d(0,0,-1px) perspective(2000px) rotateZ(40deg);
}
.profile > .slide:nth-child(3) {
  transform-style: preserve-3d;
  transform: translate3d(0,0,-1px) perspective(2000px) rotateZ(80deg);
}
.profile > .slide:nth-child(4) {
  transform-style: preserve-3d;
  transform: translate3d(0,0,-1px) perspective(2000px) rotateZ(120deg);
}
.profile > .slide:nth-child(5) {
  transform-style: preserve-3d;
  transform: translate3d(0,0,-1px) perspective(2000px) rotateZ(160deg);
}
.profile > .slide:nth-child(6) {
  transform-style: preserve-3d;
  transform: translate3d(0,0,-1px) perspective(2000px) rotateZ(200deg);
}
.profile > .slide:nth-child(7) {
  transform-style: preserve-3d;
  transform: translate3d(0,0,-1px) perspective(2000px) rotateZ(240deg);
}
.profile > .slide:nth-child(8) {
  transform-style: preserve-3d;
  transform: translate3d(0,0,-1px) perspective(2000px) rotateZ(280deg);
}
.profile > .slide:nth-child(9) {
  transform-style: preserve-3d;
  transform: translate3d(0,0,-1px) perspective(2000px) rotateZ(320deg);
}
.profile:nth-child(1) {
  transform-style: preserve-3d;
	z-index:-1;
  transform: translate3d(0,0,-1px) perspective(2000px) rotateZ(0deg);
}