div.header
	h1 Jonathon Anthony	
	h2 Web Developer

div.contact
	

div.sections#sections
	div.self#self
	div.ideal#ideal
	div.previous#previous
	div.tech#tech
	div.consult#consult
	div.openSource#openSource